.form {
  max-width: 924px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 168px;
  margin-left: auto;
}

.button_type_up {
  width: 205px;
}

.button_type_down {
  width: 186px;
}

.list {
  height: 340px;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10px;
}